body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /*font-family: 'Inter', sans-serif;*/
  margin: 0;
  padding: 0;
}


/* RutinaVisual.css */
.rutina-wrapper {
  
     justify-content: space-between;
     align-items: center;
     width: 90%;
     background-color: var(--color-fondo-gris-claro);
     padding: 1rem;
     border-radius: 8px;
          
     color: var(--color-texto-claro);
    margin: 1rem auto;
    
     
     z-index: 1000;
}

.rutina-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--color-borde);
  padding-bottom: 10px;
}

.rutina-header h2 {
  color: var(--color-primario-naranja);
}

.estado-rutina {
  padding: 6px 12px;
  border-radius: 6px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: var(--color-secundario-naranja-opaco);
  color: var(--color-texto-claro);
}

.semana-section {
  margin-bottom: 30px;
  background-color: var(--color-fondo-gris-claro);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 6px var(--color-sombra-container);
}

.estado-semana {
  font-style: italic;
  margin-bottom: 10px;
  color: var(--color-texto-claro-con-transp);
}

.dia-box {
  margin-top: 20px;
  border-top: 1px solid var(--color-borde);
  padding-top: 15px;
}

.dia-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dia-header h4 {
  color: var(--color-primario-naranja-claro);
}

.focus-muscular {
  font-weight: bold;
  color: var(--color-secundario-naranja);
}

.ejercicios-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 16px;
  margin-top: 15px;
}

.ejercicio-card {
  background-color: var(--color-fondo-claro);
  color: var(--color-texto-negro-grafito);
  border: 1px solid var(--color-borde-input);
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 2px 4px var(--color-sombra-container);
}

.ejercicio-info p {
  margin: 4px 0;
}

.ejercicio-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.btn {
  padding: 8px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.2s ease;
  color: var(--color-texto-claro);
}

.btn.agregar {
  background: var(--gradiente-boton-blanco);
  color: var(--color-texto-negro-grafito);
}

.btn.eliminar {
  background: var(--gradiente-boton);
}

.btn.eliminar:hover,
.btn.guardar:hover,
.btn.grabar-dia:hover,
.btn.eliminar-rutina:hover {
  background: var(--gradiente-boton-hover);
}

.btn.grabar-dia {
  margin-top: 20px;
  background: var(--gradiente-boton);
  width: 100%;
}

.rutina-footer {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
}

.btn.guardar {
  background: var(--gradiente-boton);
}

.btn.eliminar-rutina {
  background: var(--color-secundario-naranja);
}
