 .selector-rutinas-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  background-color: var(--color-fondo-gris-claro);
  padding: .2rem 0 .4rem 1rem;
  border-radius: 8px;

  color: var(--color-texto-claro);
  margin: .2rem auto;
  margin-top: .1rem;

  z-index: 1000;
} 

.selector-rutinas-visual{
  display: flex;
  justify-content: space-between;
  gap: 10px;
  background-color: var(--color-fondo-gris-claro);
  border-radius: 8px;
  width: 100%;
  color: var(--color-texto-claro);
  flex-wrap: wrap;
  margin:.1rem 1rem auto .1rem;
  
  
}

.error-texto {
  margin-top: 8px;
  color: var(--color-texto-secundario);
  font-size: 0.9rem;
}

/*  Mobile view */
@media (max-width: 768px) {
  .selector-rutinas-visual {
    flex-direction: column;
    align-items: space-between;
    gap: 10px;
    padding: 5px;
    margin: .1rem auto;
  }

  .grupo-radios-horizontal {
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
  }

  .selector-wrapper {
    width: 100%;
    justify-content: space-between;
  }

  select {
    width: 100%;
  }

  .selector-label {
    display: block;
    margin-bottom: 8px;
    font-size: 1rem;
    text-align: center;
  }
}
