/* ResumenPagos.css */
.resumen-container {
  font-family: Arial, sans-serif;
  padding: 20px;
  /* background-color:var(--color-fondo-gris-claro); */
  border-radius: 8px;
}

.resumen-grid {
  display: flex;
  gap: 20px; /* Espacio entre las tarjetas de resumen */
  margin-top: 15px;
}

.resumen-card {
  flex: 1; /* Ocupa igual espacio */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilos específicos para las tarjetas */
.estado-card {
  background-color: var(--color-fondo-gris-claro); /* Un color suave para usuarios */
  
  border: 1px solid var(--color-fondo-claro);
  border-left: 6px solid var(--color-primario-naranja);
}

.pagos-card {
  border: 1px solid var(--color-fondo-claro);
  border-left: 6px solid var(--color-primario-naranja);
  background-color: var(--color-fondo-gris-claro);
}

.usuarios-estado-detalles  {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: .2rem .8rem .2rem .8rem;
  margin: 8px 0;
  font-size: 1.1em;
  color: var(--color-texto-claro);
  
}

.usuarios-estado-detalles p {
  color: var(--color-texto-claro);
  font-size: 1.5rem;
}
.resumen-card h3 {
  margin-top: 0;
  border-bottom: 1px solid var(--color-primario-naranja);
  padding-bottom: 10px;
  margin-bottom: 10px;
  font-size: 1.2em;
  color: var(--color-primario-naranja);
}

.monto-total {
  font-size: 1.8em;
  color: #5bd962; /* Color de énfasis para el total */
  font-weight: bold;
  margin: 5px 0;
}

.nota-total {
    font-size: 0.8em;
    color: var(--color-primario-naranja);
    margin-top: 15px;
}