/* Estilos Tabs */

.perfil-tabs {
  display: flex;
  gap: 1rem;
}

.perfil-tabs button {
  background-color: var(--fondo-secundario);
  color: var(--texto-claro);
  border: none;
  padding: 0.6rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.perfil-tabs .tab-activa {
  background-color: var(--color-primario-naranja);
  color: var(--fondo-secundario)
}

/* Estilos ImagenTab */

.imagen-tab {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.imagen-perfil-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.imagen-perfil {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid var(--boton-primario);
}

.formato-imagen {
  font-size: 0.9rem;
  color: var(--texto-claro);
}

.plan-info {
  background-color: var(--fondo-input);
  padding: 1rem;
  border-radius: 8px;
  color: var(--texto-claro);
}

.plan-info h4 {
  margin: 0;
  font-size: 1.2rem;
}

.precio-plan {
  font-weight: bold;
  margin-top: 0.5rem;
}

.btn-cambiar-plan,
.btn-ver-facturacion {
  background-color: var(--boton-primario);
  color: white;
  border: none;
  padding: 0.4rem 0.8rem;
  border-radius: 6px;
  margin-right: 0.5rem;
  cursor: pointer;
}








.btn-guardar-tab {
  align-self: flex-end;
  background-color: var(--boton-primario);
  color: white;
  padding: 0.6rem 1.2rem;
  border-radius: 8px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

